.gs-container{
	margin-top: 20px;
	margin-bottom: 20px;
}
.gs-card{
	overflow: hidden;
	margin: 5px 10px;
	/*margin-top:8px;
	margin-bottom: 8px;*/
	box-sizing: border-box;
	float: left;
}

.gs-card .gs-card-title{ 
    position: absolute;
    color: #fff; 
    font-size: 22px;  
    
    background: rgba(0, 0, 0, 0.55) none repeat scroll 0 0;
    webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    transition: transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -os-transition: -os-transform 0.3s ease-out;
    -ms-transition: -ms-transform 0.3s ease-out;
}
.gs-card:hover .gs-card-title{
	display: block!important; 
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    transition: transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -os-transition: -os-transform 0.3s ease-out;
    -ms-transition: -ms-transform 0.3s ease-out;
    
}
 

.gs-card .gs-card-title h3{
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	position: relative;
	top: 42%;
	width: 100%;
	font-size: 16px;
	font-weight: bold;
} 
.gs-card .gs-card-image{
	overflow: hidden;
	height: 215px;
}


.pagination {
    text-align: center;
    display: block;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    margin-top: 30px;
    clear: both;
}
.pagination > li {
    display: inline-block;
}
.pagination > li > a, .pagination > li > span {
    background: transparent;
    border: none;
    color: #000;
    padding: 0;
    width: 40px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    margin: 0 6px;
}
.pagination > li > a, .pagination > li > span, .pagination > li > a:hover, .pagination > li > span.page-numbers.current {
    background: #222a33 none repeat scroll 0 0;
    color: #fff;
    border-radius: 0;       
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
}
.pagination > li:last-child > a, .pagination > li:last-child > span, .pagination > li:first-child > a, .pagination > li:first-child > span{
    border-radius: 0;       
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
}
.pagination > li > a .fa {
    padding: 0;
}
.post-navigation .pager li a:hover, .post-navigation .pager li a:active, .post-navigation .pager li a:focus {
    background: #222a33;
}










